Diagnostics:
  ClangTidy:
    Add:
      - "bugprone-*"
      - "cppcoreguidelines-*"
      - "clang-analyzer-*"
      - "modernize-*"
      - "readability-*"
      - "performance-*"
      - "misc-*"
    CheckOptions:
      misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
      cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
      readability-identifier-length.IgnoredVariableNames: '^_$'
      modernize-type-traits.IgnoreMacros: true
      readability-implicit-bool-conversion.AllowIntegerConditions: true
      readability-function-cognitive-complexity.IgnoreMacros: true
      cppcoreguidelines-narrowing-conversions.IgnoreConversionFromTypes: "size_t;ptrdiff_t;size_type;difference_type"
    Remove:
      - "modernize-use-nodiscard"
      - "misc-no-recursion"
      - "cppcoreguidelines-pro-bounds-pointer-arithmetic"
      - "cppcoreguidelines-avoid-non-const-global-variables"
      - "bugprone-easily-swappable-parameters"
      - "misc-use-anonymous-namespace"
  UnusedIncludes: Strict
CompileFlags:
  CompilationDatabase: .vscode/
