# https://clang-format-configurator.site/
---
BasedOnStyle: Mozilla
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Empty
# deprecated, but seems to be only way to get this working
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Mozilla
CompactNamespaces: true
FixNamespaceComments: true
InsertTrailingCommas: Wrapped
LambdaBodyIndentation: OuterScope
NamespaceIndentation: All
PointerAlignment: Right
SpaceBeforeCpp11BracedList: true
SpaceBeforeInheritanceColon: false
